:root {
	--clr-accent: hsl(140, 100%, 44%);
	--clr-accent-a25: hsl(140, 100%, 44%, 0.25);
	--clr-primary-light: #363636;
	--clr-primary: #292929;
	--clr-primary-dark: #242424;

	--bg-primary: #292929;

	--ff-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--clr-accent);
}

body {
	background-color: var(--bg-primary);
	color: white;
	font-family: var(--ff-family);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.2fr auto 1fr;
}

@media only screen and (min-width: 768px) {
	body {
		grid-template-rows: 0.2fr 1fr;
	}
}

::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-track {
	background-color: var(--clr-primary-dark);
}

::-webkit-scrollbar-thumb {
	background-color: var(--clr-accent);
}

/* HEADER */

header {
	grid-column: 1 / -1;
	align-self: center;
}

@media only screen and (min-width: 768px) {
	header {
		grid-column: 2 / -1;
	}
}

.todo__logo {
	font-size: 4em;
	letter-spacing: 0.25ch;
	text-shadow: 2px 2px 0px var(--clr-accent);
	transition: text-shadow 150ms ease-in-out;
	cursor: default;
}

.todo__logo:hover {
	text-shadow: 5px 5px 0px var(--clr-accent);
}

/* LISTS */

.lists__section {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	display: flex;
	justify-content: start;
	flex-direction: column;
	background-color: var(--clr-primary-dark);
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.lists__section {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
}

.lists__list {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	font-weight: 500;
	font-size: 1.25em;
}

.list {
	padding: 0.5em 2em;
	cursor: pointer;
	font-variant-numeric: tabular-nums lining-nums;
	display: flex;
	align-items: center;
	transition: background-color 150ms ease-in-out;
}

.list--active {
	background-color: var(--clr-primary-light);
}

.list:hover {
	background-color: var(--clr-primary-light);
}

.list__name {
	margin-right: 0.5em;
	/* word-break: break-word; */
}

.list__completion {
	margin-left: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
}

.list__completion--completed {
	font-weight: bold;
	color: var(--clr-accent);
}

.list:hover .list__completion,
.list--active .list__completion {
	visibility: visible;
	opacity: 1;
}

/* HEADINGS */

.list__heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.list__icon {
	display: flex;
	align-items: center;
}

.list__delete {
	fill: var(--clr-accent);
	cursor: pointer;
}

.lists__title,
.list__title {
	padding: 0;
	margin: 0;
	font-size: 2em;
	width: 100%;
	word-break: break-word;
}

.lists__title {
	padding: 1rem;
}

/* TODO GENERAL */

.todo__section {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	margin: 2em 0em;
}

@media only screen and (min-width: 768px) {
	.todo__section {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

.todo__empty,
.lists__empty {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	padding: 2em;
}

.todo__container {
	width: 100%;
}

/* TODO INPUT */
.todo__form,
.lists__form {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	padding: 1em 0em;
	width: 100%;
}

.lists__form {
	padding: 1em;
}

.todo__input,
.lists__input {
	font-family: var(--ff-family);
	background-color: transparent;
	border: 1px solid var(--clr-primary-light);
	padding: 0.5em;
	color: white;
	border-radius: 0.5em;
	font-size: 1.25em;
	outline: none;
	transition: border-color 150ms, box-shadow 150ms ease;
	width: 100%;
}

.todo__input:focus,
.lists__input:focus {
	border-color: var(--clr-accent);
	box-shadow: 0 0 0 0.1em var(--clr-accent-a25);
}

.todo__btn,
.lists__btn {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	transition: transform 150ms ease-in-out;
}

.todo__btn:hover,
.todo__btn:focus,
.lists__btn:hover,
.lists__btn:focus {
	transform: scale(1.05);
}

.todo__btn:active,
.lists__btn:active {
	transition-duration: 0ms;
	transform: scale(1.1);
}

.todo__btn-icon,
.lists__btn-icon {
	fill: var(--clr-accent);
	width: 3.5em;
	height: 3.5em;
}

/* TODO LIST */

.todo__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.todo {
	border-radius: 0.5em;
	background-color: var(--clr-primary-light);
	padding: 1em;
	margin: 1em 0em;
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 1.2em;
}

.fade-in {
	animation: fadeIn 150ms ease-in-out forwards;
}

.fade-out {
	animation: fadeOut 150ms ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

.todo__icon {
	margin: 0em 0.5em 0em 0em;
	display: flex;
	align-items: center;
	justify-content: start;
}

.todo__label {
	display: flex;
	cursor: pointer;
	position: relative;
}

.todo__text {
	position: relative;
	word-break: break-word;
}

.todo__text::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 150ms ease-in-out;
}

.todo__checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
	position: absolute;
}

.todo__checkbox:focus + label .todo__check {
	transform: scale(1.1);
}

.todo__checkbox:checked + label .todo__text {
	color: hsla(0, 0%, 100%, 0.5);
}

.todo__checkbox:checked + label .todo__text::after {
	transform: scaleX(1);
	transform-origin: left;
}

.todo__checkbox:checked + label .todo__check--blank {
	display: none;
}

.todo__checkbox:not(:checked) + label .todo__check--blank {
	display: block;
}

.todo__checkbox:checked + label .todo__check--checked {
	display: block;
}

.todo__checkbox:not(:checked) + label .todo__check--checked {
	display: none;
}

.todo__icon--delete {
	margin-right: 0;
	margin-left: auto;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	transition: visibility 150ms, opacity 150ms ease;
}

.todo:hover .todo__icon--delete {
	visibility: visible;
	opacity: 1;
}

.todo__check {
	fill: var(--clr-accent);
	cursor: pointer;
	user-select: none;
	transition: transform 150ms ease-in-out;
}

.todo__delete {
	fill: var(--clr-primary-dark);
}

[data-hidden="true"] {
	display: none;
}
